
/* ========== NAVBAR ========== */
#site{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-right: auto;
}
#site a{
    color: var(--primary-color);
    font-family: var(--font-family)
}

#hamburger-icon{
    display: block;
    margin: auto 0;
    cursor: pointer;
}
#hamburger-icon div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    transition: 0.4s;
}
.open .bar1{
   -webkit-transform: rotate(-45deg) translate(-px,6px);
   transform: rotate(-45deg) translate(-5px,6px);

}
.open .bar2{
    opacity: 0;
}
.open .bar3{
   -webkit-transform: rotate(45deg) translate(-7px,-7px);
   transform: rotate(45deg) translate(-7px,-7px);
}
.open .mobile-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.mobile-menu{
    display: none;
    width: 100%;
    position: absolute;
    top: 50px;
    right: 0;
    height: calc(100vh - 50px);
    background-color: white;
    flex-direction: column;
    list-style: none;
    padding: 20px 0;
    margin: 0;
}
.mobile-menu li{
    margin-bottom: 10px;
    font-family: var(--font-family);
}
/* ================================ */
/* ========== ul styles ========== */
 ul{
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

 }
 ul a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: var(--font-family)
 }

 ul li{
    padding: 5px;
    margin-left: 10px;
    
    
 }
ul li:hover{
transform: scale(1.1);
transition: 0.3s;
 }
 /* ================================ */


    

    



.about-title h1 {
    font-size: 70px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 0.9;
}

title {
    margin-bottom: 20px;
}

.about-title, .about-content, .team-card1, .team-card2 {
    margin: 0 auto;
    width: 100%;
}


p {
    background-color: var(--tertiary-color);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: center;
}

.team-card1, .team-card2 {
    max-width: 360px;
    max-height: 360px;
    margin: 0 auto;
    
}

.about-image img {
    width: 100%;
    align-self: auto;
    height: auto;
    border-radius: 20px 20px 0 0;
    display: block;
    max-height: 360px;
    max-width: 360px;
}

.about-image-g p {
    background-color: #f2f7a6;
    padding: 10px 15px;
    margin: 0;
    font-size: 1rem;
    line-height: 1.4;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

.about-image-o p {
    background-color: #531253;
    padding: 10px 15px;
    margin: 0;
    font-size: 1rem;
    line-height: 1.4;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

.about-team h2 {
    text-align: center;
    font-size: 2rem;
}

@media (min-width: 730px) {
    .about-title h1 {
        font-size: clamp(2.2rem, 6vw, 4rem);
        line-height: 0.9;
    }

    .about-image img {
        width: 100%;
        height: auto;
        border-radius: 20px 20px 0 0;
        display: block;
        max-width: 100%;
    }

    .about-image-g p {
        background-color: #f2f7a6;
        padding: 10px 15px;
        margin: 0;
        font-size: 1rem;
        line-height: 1.4;
        text-align: center;
        border-radius: 0 0 20px 20px;
        max-width: 100%;
        width: 100%;
    }

    .about-image-o p {
        background-color: #531253;
        padding: 10px 15px;
        margin: 0;
        font-size: 1rem;
        line-height: 1.4;
        text-align: center;
        border-radius: 0 0 20px 20px;
        max-width: 100%;
        width: 100%;
    }
}

@media (min-width: 900px) {
    .about-image img {
        width: 100%;
        height: auto;
        max-width: 100%;
        border-radius: 20px 20px 0 0;
        display: block;
        box-sizing: border-box;
        align-self: center;
    }

    .about-image-g p,
    .about-image-o p {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        border-radius: 0 0 20px 20px;
        margin: 0;
        padding: 10px 15px;
        font-size: 1rem;
        line-height: 1.4;
        text-align: center;
    }
}
/*=============INDEX================= */
.index-title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
    font-family: var(--font-family);
}
.index-title2{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 20px 0;
    font-family: var(--font-family);
}
.index-image1 img{
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px 0;
    border-radius: 15px;
    float: left;
}
.index-image2 img{
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px 0;
    border-radius: 15px;
    float: inline-end;

}












/*
.about-page h1 {
    font-size: 70px;
    font-weight: 700;
    text-align: left;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.9;
}

.about-stacked {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.1rem;
    margin-top: 10px;
    margin-left: 0px;
}

.about-mobile {
    display: block;
}

.about-others {
    display: none;
}

.about-content {
    flex: 1 1 58%;
    max-width: 58%;
    align-self: flex-start;
    text-align: center;
    align-self: center;
}

@media (min-width: 600px) {
    .about-mobile {
        display: none;
    }

    .about-others {
        display: block;
    }

    .about-page .page-grid {
        grid-template-columns: 40% 60%;
        align-items: center;
    }

    .about-stacked {
        justify-content: center;
        padding-right: 1rem;
    }

    .about-content {
        text-align: left;
        flex: initial;
        max-width: 100%;
        align-self: center;
    }

}

@media (min-width: 900px) {
    .about-page .page-grid {
        grid-template-columns: 35% 65%;
    }
}
*/