/* ========== NAVBAR ========== */
#site{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-right: auto;
}
#site a{
    color: var(--primary-color);
    font-family: var(--font-family)
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

#hamburger-icon{
    display: block;
    margin: auto 0;
    cursor: pointer;
}
#hamburger-icon div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    transition: 0.4s;
}
.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-5px,6px);
    transform: rotate(-45deg) translate(-5px,6px);

}
.open .bar2{
    opacity: 0;
}
.open .bar3{
   -webkit-transform: rotate(45deg) translate(-7px,-7px);
   transform: rotate(45deg) translate(-7px,-7px);
}
.open .mobile-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.mobile-menu{
    display: none;
    width: 100%;
    position: absolute;
    top: 50px;
    right: 0;
    max-height: calc(100vh - 50px);
    background-color: white;
    flex-direction: column;
    list-style: none;
    padding: 20px 0;
    margin: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 999;
}
.mobile-menu li{
    margin-bottom: 10px;
    font-family: var(--font-family);
}
.mobile-menu a{
    display: block;
    width: 100%;
    padding: 12px 20px;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    box-sizing: border-box;
    font-family: var(--font-family);
}
 nav ul{
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

 }
 nav ul a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: var(--font-family)
 }

 nav ul li{
    padding: 5px;
    margin-left: 10px;
    
    
 }
nav ul li:hover{
transform: scale(1.1);
transition: 0.3s;
 }
/* ================================ */

 /* ========== courses ========== */
.course-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin: 20px auto;
    font-family: var(--font-family);
    max-width: 100%;
}

.course-card li {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 20px;
    list-style-type: none;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1rem;
    background-color: #ffffff;
}

.course-card li:hover {
    background-color: #040000;
    transform: translateY(-10px);
    color:#531252;
}

.course-card li h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: var(--primary-color);
    font-family: var(--font-family);
    
}

.course-card li p {
    background-color: transparent;
    padding: 5px 0;
    box-shadow: none;
    font-size: 0.95rem;
    text-align: left;
    font-family: var(--font-family);
    color: var(--primary-color);
}






/*book page*/
.books-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin: 20px auto;
    font-family: var(--font-family);
    max-width: 100%;
}
.book-card li {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 20px;
    list-style-type: none;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1rem;
    background-color: #ffffff;
}
.index-title2{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
    font-family: var(--font-family);

}

/* REGISTER PAGE */

.register-form p.title {
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    margin: 0;
    line-height: 1.4;
    text-align: center;
    border-radius: 20px;

}
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 20px 0;
    background: linear-gradient(to right bottom, var(--primary-color) 50%, white 50%);
}

.panel {
    background: white;
    border-radius: 30px;
    padding: 40px;
    width: 380px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
}


.register-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 380px;
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
}

.register-form label {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.register-form input {
    padding: 14px 16px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid black;
    width: 100%;
    outline: none;
}

.register-form input:focus {
    border-color: lightgreen;
}

.register-form button {
    width: 100%;
    padding: 14px;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.register-form button:hover {
    color: #531253;
    transition: 0.2s ease;
}

.pref-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    max-width: 900px;
}

.category-box {
    flex: 1;
    width: 300px;
    background: var(--primary-color);
    color: white;
    border-radius: 12px;
    padding: 20px;
}

.category-box h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.category-box p {
    margin: 10px 0;
    font-size: 0.95rem;
}

.recs-box {
    flex: 1;
    width: 350px;
    background: var(--primary-color);
    color: black;
    border-radius: 12px;
    padding: 20px;
}

.recs-box h3 {
    color: white;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.recs-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.recs-box li {
    padding: 10px 0;
    border-bottom: 1px solid white;
    font-size: 0.95rem;
}

.recs-box li:last-child {
    border-bottom: none;
}

#register-summary {
    background: white;
    padding: 30px;
    width: 380px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.register-preferences {
    width: 100%;
    padding: 20px;
    background: var(--primary-color);
    border-radius: 12px;
}

#category-options {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#category-options label {
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 1rem;
    gap: 10px;
}

#category-options input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: white;
}

.pref-button {
    margin-top: 15px;
    padding: 10px 15px;
    width: 100%;
    background: purple;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}

.pref-button:hover {
    background: violet;
}

@media (max-width: 900px) {
    .pref-container {
        flex-direction: column;
        align-items: center;
    }

    .register-preferences {
        width: 100%
    }
}


/* ABOUT PAGE */

.about-title-paragraph {
    background: var(--primary-color);
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px;
    gap: 40px;
    min-height: 70vh;
}

.about-sxetika h1 {
    font-size: 8.5rem;
    font-weight: 900;
    line-height: 1;
    margin: 0;
}

.about-paragrafos {
    background: #531252;
    padding: 40px;
    border-radius: 30px;
    max-width: 380px;
    transform: translateX(-20%);
}

.about-paragrafos p {
    color: white;
    font-size: 1.2rem;
    line-height: 1.5;
    
}

.about-team {
    background: var(--primary-color);
    padding: 60px 80px;
    text-align: center;
}

.about-team h2 {
    color: white;
    font-size: 3rem;
    margin-bottom: 40px;
    font-weight: 800;
}

.team-pics {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.team-card {
    background: white;
    border-radius: 20px;
    width: 300px;
    overflow: hidden;
}

.team-card img {
    width: 100%;
    max-width: 416px;
    height: 333px;
    object-fit: fill;
}

.team-card p {
    margin: 0;
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: white;
}

.team-card p.parg {background: #531252;}
.team-card p.paro {background: orange;}

.about-title-paragraph, .about-team {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

/*ABOUT PAGE MOBILE*/
@media (max-width:600px) {
    .about-title-paragraph {
        flex-direction: column;
        padding: 40px 20px;
    }

    .about-sxetika h1 {
        font-size: 3rem;
    }

    .about-paragrafos {
        padding: 25px;
        border-radius: 30px;
        max-width: 90%;
        grid-row: 2;
    }

    .about-team h2 {
        font-size: 2.5rem;
    }

    .team-card {
        width: 100%;
        max-width: 320px;
    }

    .team-card img {
        height: 220px;
    }
}

/*ABOUT PAGE TABLET*/
@media (max-width: 900px) {
    .about-title-paragraph {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .about-sxetika h1 {
        text-align: center;
        font-size: 4rem;
    }

    .about-paragrafos {
        max-width: 90%
    }
}

/*=============INDEX================= */
.index-title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
    font-family: var(--font-family);
}
.index-title2{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 20px 0;
    font-family: var(--font-family);
}
.index-image1 img{
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px 0;
    border-radius: 15px;
    float: left;
}
.index-image2 img{
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px 0;
    border-radius: 15px;
    float: right;
}

.about-content p {
    background: var(--primary-color);
    font: var(--font-family);
    padding: 40px;
    border-radius: 30px;
    width: 100%;
}
/*=============MEDIA QUERIES================= */
@media only screen and (max-width: 600px) {
    .index-image1 img,
    .index-image2 img {
        float: none;
        max-width: 100%;
        margin: 20px 0;
        display: block;
    }


    .mobile-menu {
        left: 0;
        right: 0;
        width: 100%;
        box-sizing: border-box;
    }

    
    .course-card {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}


/* COURSE DETAILS */

.course-details {
    display: grid;
    grid-template-columns: 3fr 1.2fr;
    background: linear-gradient(
        to right, var(--primary-color) 0%,
        var(--primary-color) 70%, white 70%, white 100% 
    );
    min-height: 100vh;
    color: white;
    font-family: var(--font-family);
}

.course-main {
    padding: 60px 40px;
}

.course-main h1 {
    font-size: 2.8rem;
    font-weight: 800;
}

.cd-kathhghths {
    font-size: 1.8rem;
}

.course-main h3 {
    margin-top: 50px;
    font-size: 1.4rem;
}

.course-main p {
    line-height: 1.6;
    margin-top: 15px;
}

.course-deksia {
    background: transparent;
    color: var(--primary-color);
    padding: 80px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.course-deksia h4 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.course-deksia p {
    font-size: 1rem;
    line-height: 1.5;
    max-width: 220px;
}

#cd-category {
    font-size: 1.4rem;
    font-weight: 800;
    margin-bottom: 40px;
}

#cd-book-cover {
    width: 180px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

@media (max-width: 900px) {
    .course-details {
        grid-template-columns: 1fr;
        background: none;
    }

    .course-main {
        background: var(--primary-color);
        color: white;
        padding: 40px 25px;
    }

    .course-deksia {
        background: white;
        color: var(--primary-color);
        padding: 40px 25px;
    }
}
/*=====general======*/
.Total-h1{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
    font-family: var(--font-family);
}
.search-bar{
    text-align: center;
    margin: 20px 0;

}
.search-bar input{
    width: 80%;
    max-width: 400px;
    padding: 10px 15px;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: var(--font-family);
}