/*navbar styles */
nav {
    background-color: var(--primary-color);
    padding: 10px;
    text-align: center;
    color: var(--secondary-color);
    width: 100%;
    display: block;   
}

.about-title h1 {
    font-size: 70px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 0.9;
}

.about-title {
    margin-bottom: 20px;
}

.about-title, .about-content, .team-card1, .team-card2 {
    margin: 0 auto;
    width: 100%;
}


.about-content p {
    background-color: #97d8b2;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: center;
}

.team-card1, .team-card2 {
    max-width: 360px;
    max-height: 360px;
    margin: 0 auto;
}

.about-image img {
    width: 100%;
    align-self: center;
    height: auto;
    border-radius: 20px 20px 0 0;
    display: block;
    max-height: 360px;
    max-width: 360px;
}

.about-image-g p {
    background-color: #f2f7a6;
    padding: 10px 15px;
    margin: 0;
    font-size: 1rem;
    line-height: 1.4;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

.about-image-o p {
    background-color: #531253;
    padding: 10px 15px;
    margin: 0;
    font-size: 1rem;
    line-height: 1.4;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

.about-team h2 {
    text-align: center;
    font-size: 2rem;
}

@media (min-width: 730px) {
    .about-title {
        grid-column: 1;
        grid-row: 1;
        text-align: left;
        align-self: center;
        margin-left: 15px;
    }

    .about-content {
        grid-column: 2;
        grid-row: 1;
        font-size: 1.2rem;
        text-align: right;
        align-self: center;
        margin-right: 15px;
    }

    .about-title h1 {
        font-size: clamp(2.2rem, 6vw, 4rem);
        line-height: 0.9;
    }

    .team-card1 {
        grid-row: 2;
        grid-column: 1;
        margin-top: 20px;
    }

    .team-card2 {
        grid-row: 2;
        grid-column: 2;
        margin-top: 20px;
    }

    .about-image img {
        width: 100%;
        height: auto;
        border-radius: 20px 20px 0 0;
        display: block;
        max-width: 300px;
    }

    .team-card1, .team-card2 {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        grid-row: 3;
    }

    .about-team {
        text-align: center;
        grid-column: 1 / span 2;
        grid-row: 2;
        margin-bottom: 10px;
}
}

@media (min-width: 900px) {
    .about-title {
        grid-column: 1/ span 1;
        grid-row: 1;
        text-align: left;
        margin-left: 10px;
    }

    .about-content {
        grid-column: 3 / span 1;
        grid-row: 1;
        text-align: right;
        max-width: 90%;
    }

    .about-team {
        grid-column: 1 / span 3;
        grid-row: 2;
        text-align: center;
    }

    .team-card1 {
        grid-column: 1;
        grid-row: 3;
        justify-self: center;
    }

    .team-card2 {
        grid-column: 3;
        grid-row: 3;
        justify-content: center;
    }
}













/*
.about-page h1 {
    font-size: 70px;
    font-weight: 700;
    text-align: left;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.9;
}

.about-stacked {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.1rem;
    margin-top: 10px;
    margin-left: 0px;
}

.about-mobile {
    display: block;
}

.about-others {
    display: none;
}

.about-content {
    flex: 1 1 58%;
    max-width: 58%;
    align-self: flex-start;
    text-align: center;
    align-self: center;
}

@media (min-width: 600px) {
    .about-mobile {
        display: none;
    }

    .about-others {
        display: block;
    }

    .about-page .page-grid {
        grid-template-columns: 40% 60%;
        align-items: center;
    }

    .about-stacked {
        justify-content: center;
        padding-right: 1rem;
    }

    .about-content {
        text-align: left;
        flex: initial;
        max-width: 100%;
        align-self: center;
    }

}

@media (min-width: 900px) {
    .about-page .page-grid {
        grid-template-columns: 35% 65%;
    }
}
*/