:root {
    --primary-color: #0c660f;
    --secondary-color: #ffffff;
    --tertiary-color: #531252;
    --background-color: #ffffff;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}